.card-wrapper {
  list-style: decimal;
  column-count: 2;
  column-gap: 20px;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.card-wrapper .card {
  max-width: 550px;
  height: auto;
  margin-left: '4%';
  break-inside: avoid;
  margin-top: 20px;
}

.card-wrapper .card:nth-child(1){margin-top: 0px;}

.content .post-pic {
  scale: 100%;
  margin-top: 0px;
  width: 100%;
}

.user-image-grid-item {
  margin: 15px;
  margin-left: 8px;
  margin-right: 5px;
  width: 100%;
  height: auto;
  scale: 100%;
  justify-content: center;
}

.content .hashtags {
  color: #1976d2;
}

.content .likes {
  display: flex;
}

.like-icon {
  cursor: pointer;
}

.content .comment-form {
  display: inline-block;
}

.content .comment-form .comment-input {
  width: 83%;
  margin-right: 1rem;
}

.comments-block {
  padding-top: 10px;
  margin-left: 0px;
  padding-left: 0px;
}

.comment-display {
  margin-bottom: 10px;
}

.bold-comment-name {
  font-weight: bold;
}