.logo {
  background-color: #263238;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 0.5rem;
  margin: 0;
}
.logo-home {
  background-color: #263238;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 1rem 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-home .search {
  background-color: #c0c0c0;
  width: 300px;
  border-radius: 4px;
}
.pic-wrapper {
  position: relative;
}
.dropdown {
  position: absolute;
  background: #e8e8e8;
  color: black;
  padding: 0 1rem;
  border-radius: 8px;
  top: 3.5rem;
  right: 0.5rem;
}
.option {
  margin-top: 0.7rem;
  cursor: pointer;
}
.profile-pic {
  border-radius: 50%;
  width: 2.3rem;
  margin: 0 1rem;
  border: 2px solid #555;
}
.search-profile-wrapper {
  display: flex;
  height: 35px;
}
.search-profile-wrapper .MuiIconButton-root {
  padding: 0;
}
